{% extends "backlog/base.html"%}
{% load static %}

{% block content %}
<!-- Products table -->

<div class="container-fluid content px-4">
    <h1>Products</h1>
    <div class="row">
        <div class="col">
            Products
        </div>
        <div class="col">
            Quantity
        </div>
        <div class="col">
            Description
        </div>
        <div class="col">
            Warehouse
        </div>
        <div class="col-1">
            Update
        </div>
        <div class="col-1">
            Delete
        </div>
    </div>
    {% for pdt in products %}
    <div class="row">
        <div class="col">
            {{pdt}}
        </div>
        <div class="col">
            {{pdt.quantity}}
        </div>
        <div class="col">
            {{pdt.description}}
        </div>
        <div class="col">
            {{pdt.warehouse}}
        </div>
        <div class="col-1">
            <a href="{% url 'update-product' id=pdt.id%}">update</a>
        </div>
        <div class="col-1">
            <a href="{% url 'delete-product' id=pdt.id%}">delete</a>
        </div>
    </div>
    {% endfor %}
    <form action="" method="POST">
        <div class="row">
            {% csrf_token %}
            {% for field in productForm %}
            <div class="col">
                {{field}}
            </div>
            {% endfor %}
            <input type="submit" name="add_product" value="Add Product">
        </div>
    </form>


</div>


<!-- Products table ends -->

{% endblock %}